<h1>Editing social cause</h1>

<%= render "form", social_cause: @social_cause %>

<br>

<div>
  <%= link_to "Show this social cause", @social_cause %> |
  <%= link_to "Back to social causes", social_causes_path %>
</div>
