<h1>Editing financial state</h1>

<%= render "form", financial_state: @financial_state %>

<br>

<div>
  <%= link_to "Show this financial state", @financial_state %> |
  <%= link_to "Back to financial states", financial_states_path %>
</div>
